<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <main>
      <h1>Hola, <%= locals.loggedUser.name %>!</h1>
      <section>
        <h2>Propietarios</h2>
        <a class="dash-card" href="/landlords">
          <div>
            <i class="fa-solid fa-users dc-icon"></i>
          </div>
          <div>
            <p class="dc-title">Listado</p>
            <p class="dc-subtitle">Seleccione el propietario a administrar</p>
          </div>
        </a>
      </section>
    </main>
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
  </body>
</html>
