<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <main>
      <h1 class="catch-phrase">Gestiona f치cilmente tus alquileres</h1>
      <p class="hero-p">Rentalis es un sistema que te facilita la gesti칩n y administraci칩n de alquileres.</p>
      <div class="lp-btn-group">
        <a href="/register" class="getStarted-btn">Empecemos</a>
        <a href="/login" class="index-login-btn">Iniciar sesi칩n</a>
      </div>
    </main>
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
  </body>
</html>
