:root {
  --main-bg-color: #fff2da;
  --bg-color-light: #F3F3F3;
  --btn1-bg-color: #c5dbbb;
  --btn1-border-color: #a3ac9f;
  --color-1: #FFE3B3;
  --color-2: #FFC172;
  --color-3: #63CCA7;
  --color-4: #26769E;
  --color-5: black;
  --color-6: #fff;
  --orange: #FF8000;
  --dark-beige: #c2955d;
  --light-beige: #E9DAC4;
  --aquamarine: #749EB2;
  --cognac: #BD8E83;
}

* {
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: var(--main-bg-color);
  min-height: 100vh;
}

main {
  padding: 6px 24px;
}

a {
  color: var(--color-4);
  font-size: 14px;
}

h1 {
  font-size: 21px;
  text-align: center;
}

h2 {
  font-size: 18px;
  text-align: center;
}

p {
  font-size: 12px;
  margin: 0px;
}

nav {
  background-color: var(--main-bg-color);
}

/* ---Alerts--- */

.danger-alert {
  background-color: rgba(255, 0, 0, 0.6);
  padding: 5px;
  text-align: center;
  border-radius: 3px;
}

/* ---Fin de alerts--- */

/* ---Navbar--- */

.navbar-group {
  margin: 0 16px;
}

.nav-toggler-btn {
  border: none;
  padding: 0;
}

.nav-login-btn {
  color: black;
  border: 1px solid var(--color-4);
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  margin: 3px 0;
}

.nav-register-btn {
  background-color: var(--color-2);
  color: black;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  margin: 3px 0;
}

/* Fin de Navbar */

/* --- Landing page --- */

.catch-phrase {
  margin: 16px 32px;
  text-align: center;
  font-size: 32px;
  font-weight: 900;
}

.hero-p {
  margin: 16px 64px;
  text-align: center;
}

.lp-btn-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.getStarted-btn {
  background-color: var(--color-2);
  color: black;
  border: none;
  border-radius: 3px;
  padding: 6px 12px;
  font-weight: bold;
  text-decoration: none;
  margin: 3px;
}

.index-login-btn {
  color: var(--color-4);
  border: 1px solid var(--color-4);
  border-radius: 3px;
  padding: 6px 12px;
  font-weight: bold;
  text-decoration: none;
  margin: 3px;
}

/* Fin de landing page --- */

/* Register */

.w-logo {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: var(--color-4);
  font-size: 32px;
  text-decoration: none;
}

.logo-register-group {
  margin-top: 24px;
  margin-bottom: 32px;
  text-align: center;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.window {
  width: 300px;
  background-color: white;
  border-radius: 7px;
  padding: 0 24px;
  padding-bottom: 32px;
  padding-top: 24px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.window .w-element {
  margin: 5px 0;
}

.window input {
  border: 1px solid var(--color-4);
  border-radius: 3px;
}

.continue-btn {
  margin-top: 10px;
  border: 1px solid var(--color-2);
  border-radius: 3px;
  background-color: var(--color-1);
}

.input-file {
  display: none;
}

.upload-photo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding: 3px;
  border: 1px solid var(--color-4);
  border-radius: 3px;
  text-align: center;
}

.upload-photo-icon {
  margin-right: 6px;
}

/* Fin del Register */

/* Dashboard */

.dash-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.dash-menu a {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
  text-align: center;
  color: black;
}

.dash-menu-item {
  width: 100px;
  margin: 3px;
  padding: 10px;
  border-radius: 3px;
  color: black;
  border: 1px solid var(--btn1-border-color);
  background-color: var(--btn1-bg-color);
  text-align: center;
}

/* Fin del Dashboard */

/* Landlords */

.landlord-btn-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.landlord-btn {
  margin: 3px;
  padding: 3px 10px;
  text-decoration: none;
  color: black;
  background-color: var(--btn1-bg-color);
  border: 1px solid var(--btn1-border-color);
  border-radius: 6px;
}

.ll-main-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.ll-main-photo {
  width: 60px;
  border-radius: 100%;
  margin: 3px;
}

.ll-main-photo img {
  width: 100%;
  margin: 0px;
}

.ll-name {
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
}

.ll-phone {
  font-size: 14px;
}

.landlord-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 18px 0px;
  padding: 6px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  background-color: var(--color-6);
}

.llc-photo {
  max-width: 50px;
}

.llc-photo img {
  width: 100%;
}

.llc-item {
  margin: 10px;
}

.llc-name {
  font-weight: bold;
  margin: 0px;
}

.llc-email {
  font-size: 10px;
  margin: 0px;
}

.llc-phone {
  font-size: 14px;
  margin: 0px;
}

.llc-actions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.round-create-btn {
  text-decoration: none;
  font-size: 36px;
  position: absolute;
  bottom: 0;
  right: 47%;
}

/* Fin de Landlords */

/* Fin de Simply Nav */

.simply-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 24px 0px 24px;
}

.back-and-ll {
  display: flex;
  align-items: center;
}

.nav-icon {
  font-size: 18px;
  color: black;
}

/* Fin de Simply nav */

/* Properties */

.pll-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  margin: 6px;
}

.pll-name {
  font-size: 14px;
  margin: 0px;
}

.pll-section {
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
}

.pll-photo {
  max-width: 36px;
  margin: 0px 6px 0px 0px;
}

.pll-photo img {
  width: 100%;
}

.properties-card-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.property-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-6);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  border-radius: 10px;
  margin: 10px 0px;
  padding: 10px;
}

.p-card-item {
  margin: 0px;
}

.property-photo {
  max-width: 30px;
  margin: 6px;
}

.property-photo img {
  width: 100%;
}

.property-adress {
  font-weight: bold;
  font-size: 12px;
}

.property-city {
  font-size: 10px;
}

.property-card-actions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* Fin de Properties */