:root {
  --main-bg-color: #fff2da;
  --bg-color-light: #F3F3F3;
  --color-1: #FFE3B3;
  --color-2: #FFC172;
  --color-3: #63CCA7;
  --color-4: #26769E;
  --color-5: black;
  --color-6: #fff;
}

* {
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: var(--main-bg-color);
}

main {
  padding: 6px 18px;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 21px;
  text-align: center;
}

h2 {
  font-size: 18px;
  text-align: center;
}

p {
  font-size: 16px;
}

nav {
  background-color: var(--main-bg-color);
}

/* ---Alerts--- */

.danger-alert {
  background-color: rgba(255, 0, 0, 0.6);
  padding: 5px;
  text-align: center;
  border-radius: 3px;
}

/* ---Fin de alerts--- */

/* ---Navbar--- */

.navbar-group {
  margin: 0 16px;
}

.nav-toggler-btn {
  border: none;
  padding: 0;
}

.nav-login-btn {
  color: black;
  border: 1px solid var(--color-4);
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  margin: 3px 0;
}

.nav-register-btn {
  background-color: var(--color-2);
  color: black;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  margin: 3px 0;
}

/* Fin de Navbar */

/* --- Landing page --- */

.catch-phrase {
  margin: 16px 32px;
  text-align: center;
  font-size: 32px;
  font-weight: 900;
}

.hero-p {
  margin: 16px 64px;
  text-align: center;
}

.lp-btn-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.getStarted-btn {
  background-color: var(--color-2);
  color: black;
  border: none;
  border-radius: 3px;
  padding: 6px 12px;
  font-weight: bold;
  text-decoration: none;
  margin: 3px;
}

.index-login-btn {
  color: var(--color-4);
  border: 1px solid var(--color-4);
  border-radius: 3px;
  padding: 6px 12px;
  font-weight: bold;
  text-decoration: none;
  margin: 3px;
}

/* Fin de landing page --- */

/* Register */

.w-logo {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: var(--color-4);
  font-size: 32px;
  text-decoration: none;
}

.logo-register-group {
  margin-top: 24px;
  margin-bottom: 32px;
  text-align: center;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.window {
  width: 300px;
  background-color: white;
  border-radius: 7px;
  padding: 0 24px;
  padding-bottom: 32px;
  padding-top: 24px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.window .w-element {
  margin: 5px 0;
}

.window input {
  border: 1px solid var(--color-4);
  border-radius: 3px;
}

.continue-btn {
  margin-top: 10px;
  border: 1px solid var(--color-2);
  border-radius: 3px;
  background-color: var(--color-1);
}

/* Fin del Register */

/* Dashboard */

.dash-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.dash-menu-item {
  width: 48%;
  margin: 3px;
  padding: 6px;
  border: 1px solid var(--color-4);
  border-radius: 3px;
  color: var(--color-5);
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

/* Fin del Dashboard */

/* Landlords */

.landlord-btn-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 5px;
}

.landlord-btn {
  background-color: var(--color-6);
  border-radius: 3px;
  background-color: var(--color-2);
  color: var(--color-5);
  text-decoration: none;
  text-align: center;
  margin: 3px 24px;
  padding: 3px;
}

.landlord-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 6px 32px;
  padding: 6px;
  border-radius: 12px;
  background-color: var(--color-6);
}

.ll-card-item {
  margin: 3px;
}

/* Fin de Landlords */

/* Properties */

.properties-card-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.property-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color-light);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 10px 0px;
}

.p-card-item {
  
}

/* Fin de Properties */