:root {
  --main-bg-color: #fff2da;
  --main-bg-color-light: #fff9ee;
  --menu-btn-bg: #d6ebcc;
  --bg-color-light: #F3F3F3;
  --btn1-bg-color: #c5dbbb;
  --btn1-border-color: #a3ac9f;
  --color-black: #111111;
  --color-white: #fefefe;
  --color-1: #FFE3B3;
  --color-2: #FFC172;
  --color-3: #63CCA7;
  --color-4: #26769E;
  --orange: #FF8000;
  --dark-beige: #c2955d;
  --light-beige: #E9DAC4;
  --aquamarine: #749EB2;
  --cognac: #BD8E83;
  --gray-1: #EEEEEE;
  --gray-2: #BBBBBB;
  --gray-3: #888888;
  --gray-4: #333333;
}

* {
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: var(--main-bg-color-light);
  min-height: 100vh;
}

main {
  padding: 24px;
}

a {
  color: var(--color-4);
  font-size: 12px;
}

h1 {
  font-size: 18px;
  text-align: center;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

p {
  font-size: 12px;
  margin: 0px;
}

nav {
  background-color: var(--main-bg-color);
  border-bottom: 1px solid var(--btn1-bg-color);
}

/* ---Generals--- */

.bold {
  font-weight: bold;
}

.text-align-right {
  text-align: right;
}

.search-box {
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 3px 6px;
}

.search-btn {
  background: transparent;
  border: none;
}

/* ---Fin de generals--- */

/* ---Alerts--- */

.danger-alert {
  background-color: rgba(255, 0, 0, 0.6);
  padding: 5px;
  text-align: center;
  border-radius: 3px;
}

/* ---Fin de alerts--- */

/* ---Navbar--- */

.nav-item {
  text-align: center;
}

.navbar-group {
  margin: 0 6px;
}

.nav-toggler-btn {
  border: none;
  padding: 0;
}

.nav-login-btn {
  border: 1px solid var(--color-4);
  border-radius: 3px;
  margin: 3px 0px;
  color: var(--color-black);
  font-weight: bold;
  text-align: center;
}

.nav-register-btn {
  border: none;
  border-radius: 3px;
  margin: 3px 0px;
  background-color: var(--color-2);
  color: var(--color-black);
  font-weight: bold;
  text-align: center;
}

/* Fin de Navbar */

/* --- Landing page --- */

.catch-phrase {
  margin: 16px 32px;
  text-align: center;
  font-size: 32px;
  font-weight: 900;
}

.hero-p {
  font-size: 16px;
  margin: 16px 64px;
  text-align: center;
}

.lp-btn-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.getStarted-btn {
  background-color: var(--color-2);
  color: var(--color-black);
  border: none;
  border-radius: 3px;
  padding: 6px 12px;
  font-weight: bold;
  text-decoration: none;
  margin: 3px;
}

.index-login-btn {
  color: var(--color-4);
  border: 1px solid var(--color-4);
  border-radius: 3px;
  padding: 6px 12px;
  font-weight: bold;
  text-decoration: none;
  margin: 3px;
}

/* Fin de landing page --- */

/* Register */

.w-logo {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: var(--color-4);
  font-size: 28px;
  text-decoration: none;
}

.logo-register-group {
  margin-top: 24px;
  margin-bottom: 32px;
  text-align: center;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.window {
  width: 300px;
  background-color: var(--color-white);
  border-radius: 7px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  padding: 0 24px;
  padding-bottom: 32px;
  padding-top: 24px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.window .w-element {
  margin: 5px 0;
}

.window input {
  border: 1px solid var(--color-4);
  border-radius: 3px;
}

.continue-btn {
  margin-top: 10px;
  border: 1px solid var(--color-2);
  border-radius: 3px;
  background-color: var(--color-1);
}

.input-file {
  display: none;
}

.upload-photo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding: 3px;
  border: 1px solid var(--color-4);
  border-radius: 3px;
  text-align: center;
}

.upload-photo-icon {
  margin-right: 6px;
}

/* Fin del Register */

/* Dashboard */

.dash-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dash-menu a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
  text-align: center;
  color: var(--color-black);
}

.dash-menu-item {
  width: 100px;
  margin: 3px;
  padding: 10px;
  border-radius: 3px;
  color: var(--color-black);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
  background-color: #fff;
  text-align: center;
}

.dash-section {
  margin: 12px 6px;
}

.dash-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
  text-decoration: none;
  color: var(--color-black);
}

.dc-icon {
  font-size: 18px;
  margin-right: 12px;
  padding: 3px;
}

.dc-title {
  font-weight: bold;
}

/* Fin del Dashboard */

/* Landlords */

.landlord-btn-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.landlord-btn {
  margin: 3px;
  padding: 3px 10px;
  text-decoration: none;
  color: var(--color-black);
  background-color: var(--btn1-bg-color);
  border: 1px solid var(--btn1-border-color);
  border-radius: 6px;
}

.ll-main-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 10px;
  border: 1px solid lightgray;
  padding: 16px;
  margin-bottom: 10px;
}

.ll-main-info p {
  color: var(--color-black);
}

.ll-main-photo {
  width: 60px;
  border-radius: 100%;
  margin: 3px;
}

.ll-main-photo img {
  width: 100%;
  margin: 0px;
}

.ll-name {
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
}

.ll-phone {
  font-size: 14px;
}

.landlord-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 18px 0px;
  padding: 6px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  background-color: var(--color-white);
}

.llc-description {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.llc-photo {
  max-width: 50px;
}

.llc-photo img {
  width: 100%;
}

.llc-item {
  margin: 10px;
}

.llc-name {
  font-weight: bold;
  margin: 0px;
}

.llc-email {
  font-size: 10px;
  margin: 0px;
}

.llc-phone {
  font-size: 14px;
  margin: 0px;
}

.llc-actions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.enter-icon {
  font-size: 36px;
  margin-right: 6px;
}

/* Fin de Landlords */

/* Fin de Simply Nav */

.simply-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 6px 12px;
  position: sticky;
  top: 0%;
}

.back-and-ll {
  display: flex;
  align-items: center;
}

.nav-icon {
  text-decoration: none;
  font-size: 18px;
  color: var(--color-4);
  margin: 0px 5px;
}

.fa-arrow-left {
  margin-right: 10px;
}

/* Fin de Simply nav */

/* Properties */

.pll-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-self: center;
}

.pll-name {
  font-size: 14px;
  margin: 0px;
}

.pll-section {
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
}

.pll-photo img {
  width: 100%;
}

.properties-card-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.property-cards-list {
  list-style-type: none;
  padding: 0px;
}

.property-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-white);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
  border-radius: 10px;
  margin: 10px 0px;
  padding: 10px 16px;
}

.p-card-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.p-card-item {
  margin: 0px;
}

.card-icon {
  font-size: 24px;
  margin-right: 12px;
  color: var(--btn1-border-color);
}

.card-right-arrow {
  font-size: 18px;
}

.property-photo {
  max-width: 48px;
  margin: 6px 12px 6px 0px;
}

.property-photo img {
  width: 100%;
  border-radius: 3px;
}

.property-icon {
  margin: 6px 12px 6px 0px;
  font-size: 24px;
  color: var(--btn1-border-color);
}

.property-adress {
  font-weight: bold;
  font-size: 12px;
}

.property-city {
  font-size: 10px;
}

/* Fin de Properties */

/* Tenants */

.tenant-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-white);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
  border-radius: 10px;
  margin: 10px 0px;
  padding: 10px 16px;
}

.t-card-description {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.tenant-photo {
  max-width: 36px;
  margin: 6px 12px 6px 0px;
}

.tenant-photo img {
  width: 100%;
}

.t-card-name {
  margin: 0px;
  font-weight: bold;
}

.t-card-phone {
  margin: 0px;
}

.t-card-email {
  margin: 0px;
}

/* Fin de Tenants */

/* Contracts */

.rent-section{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: var(--color-white);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  border-radius: 10px;
  margin: 10px 0px;
  padding: 10px;
}

.rent-menu {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid var(--gray-1);
}

.rentSectionBtn {
  background: none;
  color: var(--color-4);
  border: none;
  font-size: 12px;
}

.rent-card {
  display: flex;
  flex-direction: column;
}

.rc-main-info-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rc-mi-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rc-mi-info i {
  border: 1px solid var(--color-3);
  border-radius: 3px;
  padding: 5px;
  margin: 6px 12px 6px 0px;
  color: var(--color-3);
  font-size: large;
}

.rc-mi-date {
  font-weight: bold;
}

.rc-mi-paid {
  width: 45px;
  color: var(--btn1-border-color);
  border: 1px solid var(--btn1-border-color);
  border-radius: 9px;
  text-align: center;
}

.rc-mi-right-group{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rc-mi-count {
  margin-right: 12px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: var(--btn1-border-color);
  color: #fff;
  text-align: center;
}

.rc-mi-arrow {
  color: grey;
}

.rent-card-detail {
  max-height: 0px;
  overflow: hidden;
  transition: all 0.7s;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.rcd-concepts {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.rcd-actions-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 6px;
}

.rcd-btn {
  color: var(--color-4);
  font-size: 12px;
  background: none;
  border: 1px solid var(--color-4);
  border-radius: 6px;
}

.rcd-whatsappLink {
  padding: 3px;
  color: var(--color-4);
  text-decoration: none;
  font-size: 12px;
  background: none;
  border: 1px solid var(--color-4);
  border-radius: 6px;
}

.rcd-whatsappLink i {
  font-size: 14px;
}

.rent-card-detail table {
  font-size: 12px;
  margin: 3px;
}

.text-align-right {
  text-align: right;
}

.rcd-show {
  max-height: 300px;
}

.rca-rotate {
  transform: rotate(180deg);
  transition: all 0.5s;
}

.rca-rotate-again {
  transform: rotate(180deg);
  transition: all 0.5s;
}

.rent-card-detail-item {
  text-align: right;
}

.rcd-concept-column {
  padding-right: 6px;
}

.rcd-total {
  margin-right: 21px;
}

.t-options-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.t-options-edit {
  font-size: small;
  color: var(--color-3);
}

.t-options-delete {
  font-size: small;
  color: red;
}

.btn-transparent {
  border: none;
  background-color: transparent;
}

.input-disable {
  border: none;
  text-align: right;
}

/* Fin de Contracts */

/* Contract details */

.contract-main-info {
  
  background-color: var(--color-white);
  border-radius: 10px;
  border: 1px solid lightgray;
  padding: 10px;
  margin-bottom: 10px;
}

.contract-main-info h3 {
  margin: 03px 0px 0px 0px;
  font-size: 12px;
  font-weight: bold;
  color: var(--gray-3);
}

.contract-main-info h2 {
  color: var(--gray-4);
  margin-bottom: 6px;
  padding-bottom: 3px;
  border-bottom: 1px solid var(--gray-2);
}

.contract-main-info p {
  color: var(--color-black);
}

.contract-main-info-detail {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contract-details-menu {
  display: flex;
  justify-content: center;
}

.contract-details-menu a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
  text-align: center;
  color: var(--color-black);
}

.contract-details-item {
  width: 60px;
  margin: 6px;
  padding: 12px;
  border-radius: 3px;
  color: var(--dark-beige);
  background-color: var(--menu-btn-bg);
  text-align: center;
}

.createRentForm label {
  font-weight: 600;
}

.createRentForm input {
  margin-bottom: 6px;
  border: none;
  background-color: #f5f5f5;
}

.createRentForm button {
  margin-top: 6px;
  border: none;
  border: 1px solid var(--color-2);
  border-radius: 3px;
  background-color: var(--color-1);
}

.createExpenseForm label {
  font-weight: 600;
}

.createExpenseForm input {
  margin-bottom: 6px;
  border: none;
  background-color: #f5f5f5;
}

.createExpenseForm button {
  margin-top: 6px;
  border: none;
  border: 1px solid var(--color-2);
  border-radius: 3px;
  background-color: var(--color-1);
}

.transEditForm form {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.transEditForm label {
  font-weight: 600;
  text-align: left;
}

.transEditForm input {
  margin-bottom: 6px;
  border: none;
  background-color: #f5f5f5;
}

.transEditForm .primaryBtn {
  margin-top: 6px;
  border: none;
  border: 1px solid var(--color-2);
  border-radius: 3px;
  background-color: var(--color-1);
}

.transEditForm .secondaryBtn {
  margin-top: 6px;
  border: none;
  border: 1px solid var(--color-2);
  border-radius: 3px;
  background: none;
}

.payRentForm form {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.payRentForm label {
  font-weight: 600;
  text-align: left;
}

.payRentForm input {
  margin-bottom: 6px;
  border: none;
  background-color: #f5f5f5;
}

.payRentForm button {
  margin-top: 6px;
  border: none;
  border: 1px solid var(--color-2);
  border-radius: 3px;
  background-color: var(--color-1);
}

/* Fin de Contract details */

/* Modal */

.display-none {
  display: none;
}

.modal-form {
  position: absolute;
  top: 50%;
  z-index: 100;
  left: 50%;
  border-radius: 15px;
  transform: translate(-50%, -50%);
}

.blured-back {
  position: fixed;
  z-index: 30;
  width: 100vw;
  height: 100vh;
  opacity: .7;
  backdrop-filter: blur(50px);
}

/* Fin de Modal */

/* Recibos */

.paymentReceipt {
  background-color: white;
}

.paymentReceipt main {
  width: 2480;
  height: 3508;
  margin: 12px;
  border: 3px solid red;
}

/* Fin de recibos */

/* Animaciones */

.slide-right {
  animation: slide-right 0.5s both;
}

@keyframes slide-right {
  0% {
    max-height: 100%;
  }
  100% {
    max-height: 0px;
  }
}